[SRPMS]
name=SRPMS
baseurl=https://mirrors.aliyun.com/ceph/rpm-octopus/el7/SRPMS/
failovermethod=priority
enabled=1
gpgcheck=0

[aarch64]
name=aarch64
baseurl=https://mirrors.aliyun.com/ceph/rpm-octopus/el7/aarch64/
failovermethod=priority
enabled=1
gpgcheck=0

[noarch]
name=noarch
baseurl=https://mirrors.aliyun.com/ceph/rpm-octopus/el7/noarch/
failovermethod=priority
enabled=1
gpgcheck=0

[x86_64]
name=noarch
baseurl=https://mirrors.aliyun.com/ceph/rpm-octopus/el7/x86_64/
failovermethod=priority
enabled=1
gpgcheck=0
